


/* Styling Navbar */
.bi.bi-search.text-light:hover{
    cursor: pointer;
}

.ulbi-nav-logo{
    width: 150px;
    height: 50px !important;
}

#search-button-nav:hover{
    cursor: pointer;
}

.megamenu-item:hover{
    background-color: #d1d1d138;
    transition: all 0.2s;
}

.bg-orange-prodi{
    background-color: #e84322e1 !important;
}

.foto-dosen-slide{
    min-width: 200px !important;
    display: block !important;
}
