
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');

/* Styling Navbar */
.bi.bi-search.text-light:hover{
    cursor: pointer;
}

.ulbi-nav-logo{
    padding: 0;
    width: 150px;
    height: 55px !important;
}

#search-button-nav:hover{
    cursor: pointer;
}

.megamenu-item:hover{
    background-color: #d1d1d138;
    transition: all 0.2s;
}

.bg-orange-prodi{
    background-color: #e84322e1 !important;
}

.foto-dosen-slide{
    min-width: 200px !important;
    display: block !important;
}

#backToTopBtn:hover{
    cursor: pointer;
}


.custom-frame {
    position: relative;
    overflow: hidden;
}

.custom-frame img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(1.2) saturate(150%);
}

.custom-frame h1 {
    margin-top: 20px;
}

.custom-frame p {
    margin-bottom: 20px;
}

.bg-orange {
    background-size: 100% 100%;
}

.section-lg {
    position: relative; 
  }

.section-bg {
    position: relative;
}

.content {
    position: relative;
    z-index: 1; 
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    z-index: -1;
    background-image: url('../img/pages/bg4.png');
    background-size: cover;

}

/* Gaya dasar untuk semua perangkat */
body {
    font-size: 16px;
  }
  
  /* Gaya untuk layar tablet */
  @media only screen and (min-width: 601px) and (max-width: 1199px) {
    .managemen{
        font-size: 60px;
        text-align: center;
    }
    .daftar{
        background-color: #242E4B;
        color: rgb(255, 255, 255);
    }
    .background-image {
        background-image: url('../img/pages/bg-tab.png');
    }
    body {
      font-size: 30px;
    }
    .trix-editor {
        width: 90%;
    }
  }

  /* Gaya untuk layar hp */
  @media only screen and (min-width: 360px) and (max-width: 600px) {
    .managemen {
        font-size: 50px;
        text-align: center;
        color: white;
    }
    .daftar{
        background-color: #242E4B;
        color: rgb(255, 255, 255);
    }
    .background-image {
        background-image: url('../img/pages/bg-mobile.png');
    }
    body {
      font-size: 20px;
    }
    .trix-toolbar, .trix-editor {
        font-size: 14px; /* Sesuaikan ukuran font jika diperlukan */
        max-width: 40%; /* Gunakan lebar maksimum */
    }
    .judul {
        padding-top: 30%;
    }
    .mobile-text {
        display: none;
    }
    .dosenimage {
        width: 70%;
        height: 20%;
    }
  }
  
  /* Gaya untuk layar desktop atau laptop */
  @media only screen and (min-width: 1200px) {
    .managemen {
        font-size: 70px;
    }
    body {
      font-size: 20px;
    }
  }

  
  .tf-tree {
    font-size: 16px;
    overflow: auto;
  }
  
  .tf-tree * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .tf-tree ul {
    display: inline-flex;
  }
  
  .tf-tree li {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 1em;
    position: relative;
  }
  
  .tf-tree li ul {
    margin: 2em 0;
  }
  
  .tf-tree li li:before {
    border-top: 0.0625em solid #000;
    content: "";
    display: block;
    height: 0.0625em;
    left: -0.03125em;
    position: absolute;
    top: -1.03125em;
    width: 100%;
  }
  
  .tf-tree li li:first-child:before {
    left: calc(50% - 0.03125em);
    max-width: calc(50% + 0.0625em);
  }
  
  .tf-tree li li:last-child:before {
    left: auto;
    max-width: calc(50% + 0.0625em);
    right: calc(50% - 0.03125em);
  }
  
  .tf-tree li li:only-child:before {
    display: none;
  }
  
  .tf-tree li li:only-child>.tf-nc:before,
  .tf-tree li li:only-child>.tf-node-content:before {
    height: 1.0625em;
    top: -1.0625em;
  }
  
  .tf-tree .tf-nc,
  .tf-tree .tf-node-content {
    border: 0.0625em solid #000;
    display: inline-block;
    padding: 0.5em 1em;
    position: relative;
    border-radius: 4px; /* Sudut bulat */
  }
  
  .tf-tree .tf-nc:before,
  .tf-tree .tf-node-content:before {
    top: -1.03125em;
  }
  
  .tf-tree .tf-nc:after,
  .tf-tree .tf-nc:before,
  .tf-tree .tf-node-content:after,
  .tf-tree .tf-node-content:before {
    border-left: 0.0625em solid #000;
    content: "";
    display: block;
    height: 1em;
    left: calc(50% - 0.03125em);
    position: absolute;
    width: 0.0625em;
  }
  
  .tf-tree .tf-nc:after,
  .tf-tree .tf-node-content:after {
    top: calc(100% + 0.03125em);
  }
  
  .tf-tree .tf-nc:only-child:after,
  .tf-tree .tf-node-content:only-child:after,
  .tf-tree>ul>li>.tf-nc:before,
  .tf-tree>ul>li>.tf-node-content:before {
    display: none;
  }
  
  .tf-tree.tf-gap-sm li {
    padding: 0 0.6em;
  }
  
  .tf-tree.tf-gap-sm li>.tf-nc:before,
  .tf-tree.tf-gap-sm li>.tf-node-content:before {
    height: 0.6em;
    top: -0.6em;
  }
  
  .tf-tree.tf-gap-sm li>.tf-nc:after,
  .tf-tree.tf-gap-sm li>.tf-node-content:after {
    height: 0.6em;
  }
  
  .tf-tree.tf-gap-sm li ul {
    margin: 1.2em 0;
  }
  
  .tf-tree.tf-gap-sm li li:before {
    top: -0.63125em;
  }
  
  .tf-tree.tf-gap-sm li li:only-child>.tf-nc:before,
  .tf-tree.tf-gap-sm li li:only-child>.tf-node-content:before {
    height: 0.6625em;
    top: -0.6625em;
  }
  
  .tf-tree.tf-gap-lg li {
    padding: 0 1.5em;
  }
  
  .tf-tree.tf-gap-lg li>.tf-nc:before,
  .tf-tree.tf-gap-lg li>.tf-node-content:before {
    height: 1.5em;
    top: -1.5em;
  }
  
  .tf-tree.tf-gap-lg li>.tf-nc:after,
  .tf-tree.tf-gap-lg li>.tf-node-content:after {
    height: 1.5em;
  }
  
  .tf-tree.tf-gap-lg li ul {
    margin: 3em 0;
  }
  
  .tf-tree.tf-gap-lg li li:before {
    top: -1.53125em;
  }
  
  .tf-tree.tf-gap-lg li li:only-child>.tf-nc:before,
  .tf-tree.tf-gap-lg li li:only-child>.tf-node-content:before {
    height: 1.5625em;
    top: -1.5625em;
  }
  
  .tf-tree li.tf-dotted-children .tf-nc:after,
  .tf-tree li.tf-dotted-children .tf-nc:before,
  .tf-tree li.tf-dotted-children .tf-node-content:after,
  .tf-tree li.tf-dotted-children .tf-node-content:before {
    border-left-style: dotted;
  }
  
  .tf-tree li.tf-dotted-children li:before {
    border-top-style: dotted;
  }
  
  .tf-tree li.tf-dotted-children>.tf-nc:before,
  .tf-tree li.tf-dotted-children>.tf-node-content:before {
    border-left-style: solid;
  }
  
  .tf-tree li.tf-dashed-children .tf-nc:after,
  .tf-tree li.tf-dashed-children .tf-nc:before,
  .tf-tree li.tf-dashed-children .tf-node-content:after,
  .tf-tree li.tf-dashed-children .tf-node-content:before {
    border-left-style: dashed;
  }
  
  .tf-tree li.tf-dashed-children li:before {
    border-top-style: dashed;
  }
  
  .tf-tree li.tf-dashed-children>.tf-nc:before,
  .tf-tree li.tf-dashed-children>.tf-node-content:before {
    border-left-style: solid;
  }
  