


/* Styling Navbar */
.bi.bi-search.text-light:hover{
    cursor: pointer;
}

.ulbi-nav-logo{
    width: 150px;
    height: 50px !important;
}

#search-button-nav:hover{
    cursor: pointer;
}

.megamenu-item:hover{
    background-color: #d1d1d138;
    transition: all 0.2s;
}

